[submodule "lib/sentencepiece"]
	path = lib/sentencepiece
	url = https://github.com/google/sentencepiece.git

[submodule "lib/hedley"]
	path = lib/hedley
	url = https://github.com/nemequ/hedley.git

[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git